Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.next
.git
.gitignore
.env*.local
.vscode
.idea
*.md
.DS_Store
coverage
.nyc_output
dist
build
*.log
.cache
public/sw.js
public/workbox-*.js
